
.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.features__menu {
    margin: 0 30px 96px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
}

.features__menu_woman {
    background: url("/src/static/img/for_woman.svg") no-repeat center center;
    background-size: cover;
}

.features__menu_man {
    background: url("/src/static/img/for_man.svg") no-repeat center center;
    background-size: cover;
}

.features__menu_kids {
    background: url("/src/static/img/for_kids.svg") no-repeat center center;
    background-size: cover;
}

.features__menu_accessories {
    background: url("/src/static/img/accesories.svg") no-repeat center center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 4;
}

.features__menu a {
    display: block;
    padding: 105px 0;
    color: var(--body_background);
    font-weight: var(--plain_text_weight);
    font-size: 1rem;
    text-align: center;
    background-color: rgba(33, 22, 22, 0.6);
    background-blend-mode: multiply;
    transition: ease-in 0.2s;
}

.features__menu a:hover {
    opacity: 0.8;
}

.features__primary_text {
    color: var(--plain_text_color_dark);
    font-weight: var(--plain_text_weight_bold);
    font-size: 1.5rem;
}

.features__secondary_text {
    margin-bottom: 5rem !important;
    color: var(--plain_text_color_madium);
}

.features__browse_btn {
    margin-bottom: 3rem;
}